/* heading */
nav ul{
    list-style:none;
    display:flex;
    justify-content:center;

    padding:0;
}

header{
    background-color: rgb(50, 196, 196);
    text-align: center;
    padding: 20px;
}

body{
    font-family: "Rubik", sans-serif;
    background-color: rgb(14, 190, 190);
}

nav{
    background: #555;
    padding-top: 20px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 6px;
}

nav ul li a{
    color:rgb(255, 255, 255);
    text-decoration:none;
    font-weight:500;
}

nav ul li a:hover{
    color: rgb(16, 192, 19);
}

nav li {
    flex: 1 1 100%;
    text-align: center;
}

main{
    max-width:1000px;
    margin:auto;
    padding:20px;
}

h1, h2{
    text-align: center;
}

#course-title {
    text-align: center;
    align-items: center;
    color: black;
    font-size: x-large;
}

.cards{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}


.card{
    background: #ffffff;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.portrait{
    width: 200px;
    height: auto;
    border-radius: 6px;
}
.card h2{
    background-color: lightgreen;
    padding: 7px;
    border-radius: 4px;
}
.contact li {
    margin-bottom: 30px
}
.about{
    display:flex;
    gap:15px;
    align-items:center;
}
.flag{
    width: 130px;
}

.caption {
    text-align: center;
}

.country-description{
    text-align: center;
    border-bottom: 1px solid #555;

}

.about-gh{
    display:flex;
    gap:15px;
    text-align: left;
}

footer {
    color: bisque;
    background-color: rgb(150, 25, 25);
}

footer p {
    text-align: center;
}

/*Responsiveness*/
@media (max-width:700px){
    .cards{
        grid-template-columns:1fr;
    }

    .about{
        flex-direction:column;
        text-align:center;
    }
}